html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
  margin: 0;  /* Asegurarse de que no haya margen en el body */
  overflow-x: hidden;  /* Prevenir desplazamiento horizontal */
  padding: 1rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;  /* Cambiar de 100vw a 100% */
  padding: 1rem;  /* Restaurar padding si necesario */
}
