
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.socials {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.socialsItem {
    text-decoration: none;
}








/* Responsive */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .socials {
        justify-content: center;
        margin-top: 1rem;
    }
}
